{% extends 'layout/layout.html.twig' %}

{% block page_title 'title.password_change'|trans() %}

{% block contentbody %}
    <div class="security-main-content">
        <div class="card security-main-content-item">
            <div class="card-header">
                <h1>{{ "title.password_change"|trans() }}</h1>
            </div>
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% set name = 'security' %}