
.upload_context {
  font-size: 1.2rem;
  background-color: #c8dadf;
  width: 40rem;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  .card-header {
    display: flex;
    flex-direction: row;
    .item-pill {
      flex-grow : 1;
      flex-shrink: 1;
      flex-basis: 0;
      align-self: center;
      text-align: center;
      .circle {
        display: inline-block;
        background: black;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        &:hover {
          filter: brightness(175%);
        }
      }
      .circle-green {
        background: radial-gradient(circle at 0.3rem 0.3rem, #2ecc40, #000);
      }
      .circle-orange {
        background: radial-gradient(circle at 0.3rem 0.3rem, #ff851b, #000);
      }
      .circle-red {
        background: radial-gradient(circle at 0.3rem 0.3rem, #ff4136, #000);
      }
      .circle-lighter {
        filter: brightness(175%);
      }
    }
    .item-progress {
      flex-grow : 3;
      flex-shrink: 3;
      flex-basis: 0;
      align-self: center;
      height: 1.8rem;
      .progress {
        height: 1.8rem;
      }
    }
  }
}

.upload_area {
  text-align: center;
  &.is-dragover
  {
    outline-offset: -20px;
    outline-color: #c8dadf;
    background-color: #fff;
  }
}

.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}

.upload_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index:-1;
  &+ label {
    cursor: pointer;
    font-weight: bold;
    &:hover {
      color: #39bfd3;
    }
  }
}

.upload-complete,
.upload-error {
  display: none;
}

.svg-icon {
  width: 10em;
  height: 10em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}