<div class="cv__block">
    <div class="cv__title">
        {{ 'label.profile.presentation'|trans }}
    </div>
    <div class="cv__body">
        <div class="body__text">
            {{ richTextHtml|raw }}
        </div>
    </div>
</div>