<main role="main" class="container-fluid index-main-content" >
    <div class="index-main-content-item subject">
        <div class="subject-content">
            Créez un profil professionnel à votre image
        </div>
    </div>
    <div class="index-main-content-item navigation">
        <div class="navigation-item find">
            <div class="find-item">
                <div class="card">
                    <div class="card-header">
                        Enregistrez-vous
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="_username">Adresse mail</label>
                                <input type="email" class="form-control" id="_username" aria-describedby="emailLogin" placeholder="Entrez un email">
                            </div>
                            <div class="form-group">
                                <label for="_password">Mot de passe</label>
                                <input type="password" class="form-control" id="_password" placeholder="Entrez un mot de passe">
                            </div>
                            <button type="submit" class="btn btn-primary">S'enregistrer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="navigation-item profiles">

            <div class="row col-6 col-md-8 profiles-item my-carousel">
                <div class="my-carousel-item lead btn-display">
                    <div class="btn-item btn-item-left">
                        <a class="btn btn-danger" href="#postsCarousel" title="go back" data-slide="prev"><i class="fa fa-lg fa-chevron-circle-left"></i>&nbsp;</a>
                    </div>
                    <div class="btn-item btn-item-right">
                        <a class="btn btn-danger" href="#postsCarousel" title="more" data-slide="next"><i class="fa fa-lg fa-chevron-circle-right"></i></a>
                    </div>
                </div>
                <div data-ride="carousel" id="postsCarousel" class="my-carousel-item carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-5"><img class="img-fluid" src="stock/profil.jpg" alt="Pic profile"></div>
                                        <div class="col-7">
                                            <span class="badge badge-pill badge-primary">Symfony</span>
                                            <span class="badge badge-pill badge-primary">PHP 7</span>
                                            <span class="badge badge-pill badge-primary">MySQL</span>
                                            <span class="badge badge-pill badge-primary">CSS</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="http://www.nicolas-coudenne.fr" target="_blank" class="card-link">Nicolas Coudenne</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-5"><img class="img-fluid" src="stock/profil.jpg" alt="Pic profile"></div>
                                        <div class="col-7">
                                            <span class="badge badge-pill badge-primary">Symfony</span>
                                            <span class="badge badge-pill badge-primary">PHP 7</span>
                                            <span class="badge badge-pill badge-primary">MySQL</span>
                                            <span class="badge badge-pill badge-primary">CSS</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="http://www.nicolas-coudenne.fr" target="_blank" class="card-link">Nicolas Coudenne</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</main>