<div>
    <h2 class="profile--title">{{ 'label.situation'|trans({}, 'form') }}</h2>
    <div class="professionnal--situation">
        <div class="row">
            <div class="col-sm">{{ form_row(state) }}</div>
            <div class="col-sm">{{ form_row(goal) }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form_row(job) }}</div>
            <div class="col-sm"></div>
        </div>
    </div>
</div>